h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 6.25vw;
  text-align: center;
  color: white;
  font-weight: 1;


}

.all {
  background-image: linear-gradient(90deg, #43507f, #ff8d7d);
  /*background-image: url(./content/patern.png);*/
  max-width: auto;
  max-height: auto;
  min-width: auto;
  min-height: auto;
}

h2 {
  text-align: center;
  color: white;
  font-size: 3.125vw;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

:root {
  --main-clr: #42507f;
  --secnd-clr: #8d5e96;
  --thrd-clr: #d36e93;
  --frth-clr: #ff8d7d;
  --fith-clr: #ffbe68;
  --sxth-clr: #f9f871;
  --main-font: 'Montserrat', sans-serif;
}




/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: var(--secnd-clr);
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 50px;
  border: none;
  outline: none;
  color: var(--sxth-clr);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
  line-height: 10px;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--thrd-clr);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--fith-clr);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ce964e;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}